.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}
.background-image {
  color: white;
  height: 500px;
}
.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
  padding-top: 100px;
}
.footer-background {
  background-color: #004030;
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
}

